<div class="card mb-5">
    <div class="card-body">
        <h5 class="card-title text-danger">Error!</h5>
        <div class="card-text">
            <div class="row">
                <div class="col">
                    Unfortunately, we experienced an error while attempting to process your request. Please try again and if you experience the same issue,
                    <span *ngIf="global.storeStateCode === 'MO'">
                        please contact us via email at <a href="mailto:questions_mo@minlc.com">questions_mo@minlc.com</a>.
                    </span>
                    <span *ngIf="global.storeStateCode !== 'MO' && global?.User?.Person?.Customer?.Store?.MainPhone">
                        please contact your local store at <a href="tel:+{{global?.User?.Person?.Customer?.Store?.MainPhone.Phone.Number}}">{{global.User.Person.Customer.Store.MainPhone.Phone.Number}}</a>.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>