﻿<span *ngIf="!stores">Loading...</span>
<select multiple class="form-control" placeholder="--Select--" class="form-control" [(ngModel)]="value">
    <option *ngFor="let store of stores | filter: filter" [ngValue]="store.ID">
        {{store.Name}}
    </option>
</select>
<ng-content></ng-content>