<div style="height: 40px;"></div>
<div class="card loader" *ngIf="loading"></div>
<div class="row" *ngIf="step == 1">
    <div class="col">
        <form [formGroup]="step1Form" class="panel panel-info" (ngSubmit)="FetchUsername()">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sign in</h5>
                    <h6 class="card-subtitle mb-5">to your account</h6>
                    <div class="card-text">
                        <div class="row">
                            <div class="col mb-2">
                                <input type="text" class="form-control" formControlName="username" [(ngModel)]="username" placeholder="Username" autocomplete="username" autofocus>
                                <validation [control]="step1Form.controls.username"></validation>
                                <div *ngIf="message" class="alert alert-sm alert-danger mt-1">{{message}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-5">
                                <a [routerLink]="['/forgot', 'email']" class="card-link">Forgot username</a>
                            </div>
                            <div class="col text-right">
                                <button type="submit" class="btn btn-block btn-primary" [disabled]="processing">
                                    <span *ngIf="!processing">Next</span>
                                    <span *ngIf="processing">Processing...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-muted text-center"><small>&copy; 2018. All Rights Reserved.</small></div>
        </form>
    </div>
</div>

<div class="row" *ngIf="step == 2">
    <div class="col">
        <form [formGroup]="step2Form" class="panel panel-info" (ngSubmit)="Login()">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hi {{user.Person.FirstName}}</h5>
                    <h6 class="card-subtitle mb-5">sign in as {{user.Username}}</h6>
                    <div class="card-text">
                        <div class="row">
                            <div class="col mb-2">
                                <input type="password" class="form-control" formControlName="password" [(ngModel)]="password" placeholder="Password" id="password">
                                <validation [control]="step2Form.controls.password"></validation>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-5">
                                <a [routerLink]="['/forgot', 'password']" class="card-link">Forgot password?</a>
                            </div>
                            <div class="col text-right">
                                <button type="submit" class="btn btn-block btn-primary" [disabled]="processing">
                                    <span *ngIf="!processing">Next</span>
                                    <span *ngIf="processing">Processing...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-muted text-center"><small>&copy; 2019. All Rights Reserved.</small></div>
        </form>
    </div>
</div>