﻿.sm {
    margin: 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0px;
    border-left: 3px solid #555;
}

.nav-tabs {
    border: 0px;
}

    .nav-tabs > li > a {
        border-radius: 0px;
        padding: 6px;
    }

    .nav-tabs > li.active {
        font-weight: bold;
    }

.color tr:nth-child(odd) {
    background: #AAAAAA;
}

.grey {
    background: #AAAAAA;
}

.label {
    font-weight: bold;
    font-size: 11pt;
}

.field {
    font-size: 10pt;
    font-family: Arial;
}

.blank {
    text-decoration: underline;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.box {
    background: white;
    color: Black;
    height: 20px;
    width: 10px;
    text-align: center;
    width: 15px;
    margin: 0 2px;
}

.center {
    text-align: center;
}

h3 {
    margin: 0;
    padding: 0;
}

td table {
    width: 100%;
    margin: 0;
    padding: 0;
}

td {
    vertical-align: top;
    line-height: 22px;
}

tr.heading td {
    padding: 5px;
    background: black;
    color: White;
}

u {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    font-family: Arial;
    font-size: 11pt;
    padding-left: 5px;
}

span {
    display: inline;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
        visibility: hidden !important;
        position: absolute;
        left: -999999px;
        top: -999999px;
    }
    
    .col-lg-3 .col-xl-2, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        float: left;
    }

    .col-12 {
        width: 100%;
    }

    .col-11 {
        width: 91.66666667%;
    }

    .col-10 {
        width: 83.33333333%;
    }

    .col-9 {
        width: 75%;
    }

    .col-8 {
        width: 66.66666667%;
    }

    .col-7 {
        width: 58.33333333%;
    }

    .col-6 {
        width: 50%;
    }

    .col-5 {
        width: 41.66666667%;
    }

    .col-4 {
        width: 33.33333333%;
    }

    .col-3 {
        width: 25%;
    }

    .col-lg-3, .col-xl-2, .col-2 {
        width: 16.66666667%;
    }

    .col-1 {
        width: 8.33333333%;
    }

    .offset-12 {
        margin-left: 100%;
    }

    .offset-11 {
        margin-left: 91.66666667%;
    }

    .offset-10 {
        margin-left: 83.33333333%;
    }

    .offset-9 {
        margin-left: 75%;
    }

    .offset-8 {
        margin-left: 66.66666667%;
    }

    .offset-7 {
        margin-left: 58.33333333%;
    }

    .offset-6 {
        margin-left: 50%;
    }

    .offset-5 {
        margin-left: 41.66666667%;
    }

    .offset-4 {
        margin-left: 33.33333333%;
    }

    .offset-3 {
        margin-left: 25%;
    }

    .offset-2 {
        margin-left: 16.66666667%;
    }

    .offset-1 {
        margin-left: 8.33333333%;
    }

    .offset-0 {
        margin-left: 0%;
    }

    .visible {
        display: none !important;
    }

    .hidden {
        display: block !important;
    }

    table.hidden {
        display: table;
    }

    tr.hidden {
        display: table-row !important;
    }

    th.hidden,
    td.hidden {
        display: table-cell !important;
    }

    .hidden.hidden-print {
        display: none !important;
    }

    .hidden {
        display: none !important;
    }

    .visible {
        display: block !important;
    }

    table.visible {
        display: table;
    }

    tr.visible {
        display: table-row !important;
    }

    th.visible,
    td.visible {
        display: table-cell !important;
    }
}
