﻿<div class="card loader" *ngIf="loading" style="max-width: 90%;"></div>
<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="col" [ngSwitch]="type">
            <!-- Accrued Interest -->
            <div *ngSwitchCase="'accruedinterest'">
                <div class="row">
                    <div class="col">
                        <p>Total interest accrued: <b>{{totalInterestAccrued | currency:'USD':'symbol-narrow':'1.2-2'}}</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <tr class="d-flex">
                                <th class="col-6 text-center">Amount</th>
                                <th class="col-6 text-center">Due Date</th>
                            </tr>
                            <tr class="d-flex text-center" *ngFor="let interest of accruedInterest" style="cursor: pointer;">
                                <td class="col-6"><strong>{{interest.Amount | currency:'USD':'symbol-narrow':'1.2-2'}}</strong></td>
                                <td class="col-6"><strong>{{interest.Date | format:'date'}}</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Adverse Action -->
            <div *ngSwitchCase="'adverseaction'">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center">Notice of Denial of Customer Application</h1>
                        <label>Date:</label>
                        <b>{{loanRequest.Status.Date | format: 'date'}}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Applicant's Name</label>
                        <br /> {{loanRequest.Customer.Person.FirstName}} {{loanRequest.Customer.Person.LastName}}
                        <br />
                        <br />
                        <label>Applicant's Address</label>
                        <br /> {{loanRequest.Customer.Person.PrimaryAddress.Address.Street}} {{loanRequest.Customer.Person.PrimaryAddress.Address.Subpremise}}
                        <br /> {{loanRequest.Customer.Person.PrimaryAddress.Address.Zip.City.Name}}, {{loanRequest.Customer.Person.PrimaryAddress.Address.Zip.City.State.Code}} {{loanRequest.Customer.Person.PrimaryAddress.Address.Zip.Code}}
                    </div>
                    <div class="col-6">
                        <label>Lender</label>
                        <br /> {{loanRequest.Store.Brand.FullName}}
                        <br /> {{loanRequest.Store.Address.Street}} {{loanRequest.Store.Address.Subpremise}}
                        <br /> {{loanRequest.Store.Address.Zip.City.Name}}, {{loanRequest.Store.Address.Zip.City.State.Code}} {{loanRequest.Store.Address.Zip.Code}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Dear Applicant:
                        <br />
                        <br /> Thank you for your recent customer application.Your request was carefully considered; however, we regret that we were unable to approve your application for the following reason(s):
                        <br />
                        <br />
                    </div>
                </div>

                <div *ngFor="let category of DenialCategories">
                    <b>{{category.Name}}</b>
                    <blockquote>
                        <div class="row" *ngFor="let reason of category.Reasons">
                            <div class="col-1" style="text-decoration: underline;">
                                <span *ngIf="find(reason.ID)">&nbsp;&nbsp;X&nbsp;&nbsp;</span>
                                <span *ngIf="!find(reason.ID)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            <div class="col-11">
                                {{reason.Description}}
                            </div>
                        </div>
                    </blockquote>
                </div>

                <div class="row">
                    <div class="col">
                        <p>
                            If you have any questions regarding this letter, you should contact us as:
                            <br>
                            <br> {{loanRequest.Store.Brand.Name}}
                            <br> Attn: Compliance
                            <br> 272 Bendix Road, Suite 500
                            <br> Virginia Beach, VA 23452
                            <br> 888.213.5744
                        </p>
                        <br>
                        <br>
                        <p>
                            NOTICE: The Federal Equal Credit Opportunity Act prohibits creditors from discriminating against credit applicants on the basis of race, color, religion, marital status sex, national origin, age (provided
                            that the applicant has the capacity to enter into a binding contract); because all or part of the applicant's income derives from any public assistance program, or because the applicant has
                            in good faith exercised any right under the Consumer Credit Protection Act. The federal agency that administers compliance with this law concerning this creditor is the Federal Trade Commission,
                            Equal Credit Opportunity, Washington D.C. 20580.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Payment Schedule -->
            <div *ngSwitchCase="'paymentschedule'">
                <div class="row">
                    <div class="col text-center" style="margin-top: 25px; margin-bottom: 50px;">
                        <h3><u>Payment Schedule</u></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Loan ID: {{loan.ID}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col table-responsive">
                        <table class="table table-striped table-bordered">
                            <tr class="d-flex">
                                <th class="col-6 text-center">Amount</th>
                                <th class="col-6 text-center">Due Date</th>
                            </tr>
                            <tr class="d-flex text-center" *ngFor="let payment of loan.PaymentSchedule">
                                <td class="col-6"><strong>{{payment.Amount | currency:'USD':'symbol-narrow':'1.2-2'}}</strong></td>
                                <td class="col-6"><strong>{{payment.DueDate | format: 'date'}}</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Amortization Schedule -->
            <div *ngSwitchCase="'amortizationschedule'">
                <div class="row">
                    <div class="col text-center" style="margin-top: 25px; margin-bottom: 50px;">
                        <h3><u>Amortization Schedule</u></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Loan ID : {{Loan.ID}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <tr class="d-flex">
                                <th class="col-1 text-center">#</th>
                                <th class="col-3 text-center">Due</th>
                                <th class="col-2 text-center">Amount</th>
                                <th class="col-2 text-center">Principal</th>
                                <th class="col-2 text-center">Interest</th>
                                <th class="col-2 text-center">Balance</th>
                            </tr>
                            <tr class="d-flex text-center" *ngFor="let p of amortizationSchedule">
                                <td class="col-1">{{p.Number}}</td>
                                <td class="col-3">{{p.Date | format:'date'}}</td>
                                <td class="col-2">{{p.Amount | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                                <td class="col-2">{{p.Principal | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                                <td class="col-2">{{p.Interest | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                                <td class="col-2">{{p.Balance | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Check -->
            <div *ngSwitchCase="'check'">
                <div class="container Check" style="width: 900px;">
                    <div class="row" style="margin-top: 70px;">
                        <div class="col" style="text-align: right">
                            <span style="font: bold, 12px, verdana;">
                                {{currentdate | format: 'date'}}
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-6">
                            <span style="padding-left: 55px; font-size: 18px;">
                                {{check.PayTo}}
                            </span>
                        </div>
                        <div class="col-6">
                            <span style="padding-left: 350px; font-size: 20px;">
                                {{check.Amount | number:'1.2' }}
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 25px;">
                        <div class="col">
                            <span style="padding-left: 55px;">
                                <strong>{{check.AmountToWords}}</strong>
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 40px;">
                        <div class="col">
                            <span style="padding-left: 55px;">
                                {{check.PayTo}}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="check.LoanRequest != null">
                        <div class="row">
                            <div class="col">
                                <span style="padding-left: 55px;">
                                    {{check.LoanRequest.Customer.Person.PrimaryAddress.Address.Street}}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span style="padding-left: 55px;">
                                    {{check.LoanRequest.Customer.Person.PrimaryAddress.Address.Zip.City.Name}}, {{check.LoanRequest.Customer.Person.PrimaryAddress.Address.Zip.City.State.Code}}, {{check.LoanRequest.Customer.Person.PrimaryAddress.Address.Zip.Code}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Loan Receipt -->
            <div *ngSwitchCase="'loanreceipt'">
                <div style="height: 4px; background-color: #ffdb00; width: 100%;"></div>
                <div class="row">
                    <div class="offset-3 col-6">
                        <div class="row">
                            <div class="col text-center">
                                <img src="https://resources.minlc.com/images/{{transaction.Store?.Brand?.ShortName}}_Logo.gif" alt="Logo" />
                                <h3><u>{{transaction.Type?.Name}} Receipt</u></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Loan:</b></p></div>
                            <div class="col-6"><p>{{transaction.Loan.ID}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Date:</b></p></div>
                            <div class="col-6"><p>{{transaction.Date | format: 'date'}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Amount Paid:</b></p></div>
                            <div class="col-6"><p>{{(transaction.Amount*-1) | currency:'USD':'symbol-narrow':'1.2-2'}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Amount Paid: to Principal:</b></p></div>
                            <div class="col-6"><p>{{(transaction.Principal*-1) | currency:'USD':'symbol-narrow':'1.2-2'}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Amount Paid: to Interest:</b></p></div>
                            <div class="col-6"><p>{{(transaction.Cost*-1) | currency:'USD':'symbol-narrow':'1.2-2'}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Balance Due:</b></p></div>
                            <div class="col-6"><p>{{transaction.Balance | currency:'USD':'symbol-narrow':'1.2-2'}}</p></div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-6"><p><b>Payment Method:</b></p></div>
                            <div class="col-6"><p>{{transaction.Method?.Type?.Name}}</p></div>
                        </div>

                        <div class="row" style="margin-bottom: 35px;">
                            <div class="col"><p><b>Employee Signature: _______________________________________</b></p></div>
                        </div>

                        <div class="row text-center">
                            <div class="col">
                                <p class="text-center">Thank you for your business!</p>
                                <hr class="sm" />
                                <p>
                                    {{transaction.Store?.Brand.Name}} - {{transaction.Store?.Name}}<br />
                                    Where you are worth more!<br /><br />
                                    {{transaction.Store?.Address?.Street}}<br />
                                    {{transaction.Store?.Address?.Zip?.City?.Name}} {{transaction.Store?.Address?.Zip?.City?.State?.Code}} {{transaction.Store?.Address?.Zip?.Code}}<br />
                                    {{transaction.Store?.Phones[0].Number}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr class="sm" />
                                <hr class="sm" />
                                <p>All non-cash payments are subject to bank and/or credit card issuers approval and if rejected, will not be credited to the outstanding balance of this loan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Petty Cash Receipt -->
            <div *ngSwitchCase="'pettycashreceipt'">
                <div class="row">
                    <div class="col-offset-3 col-6">
                        <div class="row">
                            <div class="col text-center" style="margin-bottom: 50px;">
                                <h3><u>Petty Cash Receipt</u></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Date:</b></p></div>
                            <div class="col-6"><p>{{vaultTransaction.Date | format: 'date'}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Description:</b></p></div>
                            <div class="col-6"><p>{{vaultTransaction.Memo}} <span *ngIf="vaultTransaction.Item?.memo">: {{vaultTransaction.Item?.memo}}</span></p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Amount Paid:</b></p></div>
                            <div class="col-6"><p>{{vaultTransaction.Amount | currency:'USD':'symbol-narrow':'1.2-2'}}</p></div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-6"><p><b>Payment Method:</b></p></div>
                            <div class="col-6"><p>{{vaultTransaction.Item.method}}</p></div>
                        </div>
                        <div class="row" style="margin-bottom: 35px;">
                            <div class="col-3"><b>Customer Signature:</b></div>
                            <div class="col-9"><div style="width: 100%; border-bottom: 1px solid black;">&nbsp;</div></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bank Deposit Receipt -->
            <div *ngSwitchCase="'bankdepositreceipt'">
                <div class="row">
                    <div class="col-offset-3 col-6">
                        <div class="row">
                            <div class="col text-center" style="margin-bottom: 50px;">
                                <h3><u>Bank Deposit Receipt</u></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Date:</b></p></div>
                            <div class="col-6"><p>{{vaultTransaction.Date | format: 'date'}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Description:</b></p></div>
                            <div class="col-6"><p>{{vaultTransaction.Memo}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p><b>Amount Paid:</b></p></div>
                            <div class="col-6"><p>{{vaultTransaction.Amount | currency:'USD':'symbol-narrow':'1.2-2'}}</p></div>
                        </div>
                        <div class="row" style="margin-bottom: 35px;">
                            <div class="col-3"><b>Employee Signature:</b></div>
                            <div class="col-9"><div style="width: 100%; border-bottom: 1px solid black;">&nbsp;</div></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Personal History Form -->
            <div *ngSwitchCase="'personalhistoryforme'">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title">Personal History Form</h5>
                            </div>
                            <div class="col text-right">
                                <small><b>Today's Date: {{currentdate | date}}</b></small>

                            </div>
                        </div>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <hr />
                                    <h5>About You</h5>
                                    <hr />
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Name:</label>
                                        {{person.FirstName}} {{person.LastName}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>SSN:</label>
                                        {{person.SSN | mask:'ssn'}}
                                    </div>
                                    <div class="col-sm-6">
                                        <label>DOB:</label>
                                        {{person.DOB | date:'MM/dd/y'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Street Address: </label>
                                        {{person.PrimaryAddress.Address.Street}}
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Subpremise: </label>
                                        {{person.PrimaryAddress.Address.Subpremise}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>City, State, Zip: </label>
                                        {{person.PrimaryAddress.Address.Zip.City.Name}}, {{person.PrimaryAddress.Address.Zip.City.State.Code}} {{person.PrimaryAddress.Address.Zip.Code}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Phone Number: </label>
                                        {{person.PrimaryPhone.Phone.Number | format:'phone'}}
                                    </div>
                                </div>
                                <div class="row" *ngIf="person.Emails && person.Emails[0]">
                                    <div class="col-sm-8">
                                        <label>Email Address: </label>
                                        {{person.Emails[0].Email.Address}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <hr />
                                        <h5>About Your Income</h5>
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Source: </label>
                                                {{person.PrimaryIncome?.Type?.Name}}
                                            </div>
                                            <div class="col-sm-4">
                                                <label>Type: </label>
                                                {{person.PrimaryIncome?.Employment?.Type?.Name}}
                                            </div>

                                            <div class="col-sm-4">
                                                <label>Company: </label>
                                                {{person.PrimaryIncome?.Employment?.Company}}
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Title: </label>
                                                {{person.PrimaryIncome?.Employment?.Title}}
                                            </div>
                                            <div class="col-sm-4">
                                                <label>NMI:</label>
                                                {{totalNMI | currency:'USD':true:'1.2-2'}}
                                            </div>
                                            <div class="col-sm-4">
                                                <label style="margin-bottom: 0px;">Hire Date:</label>
                                                {{person.PrimaryIncome?.Employment?.DOH | date:'MM/dd/y'}}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <hr />
                                                <h5>Bank Account Information</h5>
                                                <hr class="sm" />
                                            </div>
                                        </div>


                                        <div class="row">
                                            <label class="col-sm-6">Name: </label>
                                            {{person.PrimaryBankAccount.BankAccount.Bank.Name}}
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6">Type: </label>
                                            {{person.PrimaryBankAccount.BankAccount.Type.Name}}
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6">Account #: </label>
                                            {{person.PrimaryBankAccount.BankAccount.Number}}
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6">Routing #: </label>
                                            {{person.PrimaryBankAccount.BankAccount.Bank.Number | mask:'bank'}}
                                        </div>

                                    </div>

                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <hr />
                                                <h5>Debit Card Information</h5>
                                                <hr class="sm" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label>card #: </label>
                                            {{person.PrimaryDebitCard.DebitCard.Number | mask:'card'}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-top: 10px;">
                            <hr class="sm" />
                            <!-- Disclosure -->
                            <p class="col-md-12">
                                You agree that we may obtain and verify your employment income, address(es), telephone number(s), and all other information about you with other
                                creditors, credit reporting agencies, service providers, employers, financial references, courts and government agencies. You understand and agree:
                                (1) that we may obtain consumer reports about you for purposes of reviewing your credit application; (2) that, if we extend credit to you, we may
                                also obtain consumer reports about you in the future for purposes of reviewing, updating, renewing, collecting and/or servicing your extension of
                                credit and for other legitimate purposes permitted by law; and (3) We may report information about your account to credit bureaus. Late payments,
                                missed payments, or other defaults on your account may be reflected in your credit report. We will, if you request, inform you whether we obtained a
                                consumer report about you and tell you the name and address of any consumer reporting agency that provided any such consumer report.
                            </p>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-5">
                        <hr />
                        <span style="font-size: 9pt;">Customer Signature</span>
                    </div>
                    <div class="col-5 offset-2">
                        <hr />
                        <span style="font-size: 9pt;">EMG/MLC Store Signature</span>
                    </div>
                </div>
                <br />
                <div class=" row">
                    <div class="col-5">
                        <hr />
                        <span style="font-size: 9pt;">Date</span>
                    </div>
                    <div class="col-5 offset-2">
                        <hr />
                        <span style="font-size: 9pt;">Date</span>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="'personalhistoryforms'">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title">Formulario de historia personal</h5>
                            </div>
                            <div class="col text-right">
                                <small><b>El d&#237;a de hoy: {{currentdate | date}}</b></small>

                            </div>
                        </div>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <hr />
                                    <h5>Acerca de ti</h5>
                                    <hr />
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Nombre:</label>
                                        {{person.FirstName}} {{person.LastName}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <label>N&#250;mero De Seguro Social:</label>
                                        {{person.SSN | mask:'ssn'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <label>Fecha De Nacimiento:</label>
                                        {{person.DOB | date:'MM/dd/y'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Domicilio: </label>
                                        {{person.PrimaryAddress.Address.Street}}
                                    </div>
                                    <div class="col-sm-6">
                                        <label>No. De Apt: </label>
                                        {{person.PrimaryAddress.Address.Subpremise}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label>Ciudad, Estado, C&#243;digo Postal: </label>
                                        {{person.PrimaryAddress.Address.Zip.City.Name}}, {{person.PrimaryAddress.Address.Zip.City.State.Code}} {{person.PrimaryAddress.Address.Zip.Code}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>N&#250;mero de tel&#233;fono: </label>
                                        {{person.PrimaryPhone.Phone.Number | format:'phone'}}
                                    </div>
                                </div>
                                <div class="row" *ngIf="person.Emails && person.Emails[0]">
                                    <div class="col-sm-12">
                                        <label>Correo Electr&#243;nico: </label>
                                        {{person.Emails[0].Email.Address}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <hr />
                                        <h5>Ingresos</h5>
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Fuente de ingreso: </label>
                                                {{person.PrimaryIncome?.Type?.Name}}
                                            </div>
                                            <div class="col-sm-4">
                                                <label>Tipo: </label>
                                                {{person.PrimaryIncome?.Employment?.Type?.Name}}
                                            </div>

                                            <div class="col-sm-4">
                                                <label>Empresa: </label>
                                                {{person.PrimaryIncome?.Employment?.Company}}
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Posici&#243;n: </label>
                                                {{person.PrimaryIncome?.Employment?.Title}}
                                            </div>
                                            <div class="col-sm-4">
                                                <label>NMI:</label>
                                                {{totalNMI | currency:'USD':true:'1.2-2'}}
                                            </div>
                                            <div class="col-sm-4">
                                                <label style="margin-bottom: 0px;">Fecha de contrataci&#243;n:</label>
                                                {{person.PrimaryIncome?.Employment?.DOH | date:'MM/dd/y'}}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <hr />
                                                <h5>Cuenta Bancaria</h5>
                                                <hr class="sm" />
                                            </div>
                                        </div>


                                        <div class="row">
                                            <label class="col-sm-6">Nombre: </label>
                                            {{person.PrimaryBankAccount.BankAccount.Bank.Name}}
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6">Tipo: </label>
                                            {{person.PrimaryBankAccount.BankAccount.Type.Name}}
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6">Cuenta #: </label>
                                            {{person.PrimaryBankAccount.BankAccount.Number}}
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6">Ruta #: </label>
                                            {{person.PrimaryBankAccount.BankAccount.Bank.Number}}
                                        </div>

                                    </div>

                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <hr />
                                                <h5>Tarjeta de d&#233;bito</h5>
                                                <hr class="sm" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label>tarjeta #: </label>
                                            {{person.PrimaryDebitCard.DebitCard.Number | mask:'card'}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-top: 10px;">
                            <hr class="sm" />
                            <!-- Disclosure -->
                            <p class="col-md-12">
                                Usted acepta que podemos obtener y verificar sus ingresos de empleo, direcci&#243;n (es), n&#250;mero (s) de tel&#233;fono y toda otra informaci&#243;n sobre usted con otra persona.
                                acreedores, agencias de informes de cr&#233;dito, proveedores de servicios, empleadores, referencias financieras, tribunales y agencias gubernamentales. Usted comprende y acepta:
                                (1) que podemos obtener informes de los consumidores sobre usted para fines de revisi&#243;n de su solicitud de cr&#233;dito; (2) que, si le otorgamos cr&#233;dito, podemos
                                tambi&#233;n obtenga informes del consumidor sobre usted en el futuro a los efectos de revisar, actualizar, renovar, recopilar y / o dar servicio a su extensi&#243;n de
                                cr&#233;dito y para otros fines leg&#237;timos permitidos por la ley; y (3) podemos informar informaci&#243;n sobre su cuenta a las oficinas de cr&#233;dito. Pagos atrasados,
                                pagos perdidos u otros incumplimientos en su cuenta pueden reflejarse en su informe de cr&#233;dito. Si lo solicita, le informaremos si obtuvimos un
                                el consumidor informa sobre usted y le indica el nombre y la direcci&#243;n de cualquier agencia de informes de consumidores que proporcion&#243; dicho informe al consumidor.
                            </p>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-5">
                        <hr />
                        <span style="font-size: 9pt;">Firma del Ciente</span>
                    </div>
                    <div class="col-5 offset-2">
                        <hr />
                        <span style="font-size: 9pt;">Firma de la Tienda EMG/MLC</span>
                    </div>
                </div>
                <br />
                <div class=" row">
                    <div class="col-5">
                        <hr />
                        <span style="font-size: 9pt;">Fecha</span>
                    </div>
                    <div class="col-5 offset-2">
                        <hr />
                        <span style="font-size: 9pt;">Fecha</span>
                    </div>
                </div>


            </div>
            <!-- Past Due Letter -->
            <div *ngSwitchCase="'pastdue'" style="max-width: 800px; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px;">
                <div>
                    <img src="https://resources.minlc.com/images/soar/{{loan.Request?.Store?.Brand?.ShortName}}.gif" alt="logo" width="150px" />
                </div>
                <div>
                    {{loan.Request.Store.Address.Street}}<br />
                    {{loan.Request.Store.Address.Zip.City.Name}}, {{loan.Request.Store.Address.Zip.City.State.Code}} {{loan.Request.Store.Address.Zip.Code}}<br />
                    {{loan.Request.Store.Phones[0].Phone.Number | format:'phone'}}<br />
                    {{loan.Request.Store.Brand.Website}}<br />
                </div>
                <br /><br /><br /><br /><br />
                <div>
                    <p>
                        {{loan.Customer.Person.FirstName}} {{loan.Customer.Person.LastName}}<br />
                        {{loan.Customer.Person.PrimaryAddress.Address.Street}} {{loan.Customer.Person.PrimaryAddress.Address.Subpremise}}<br />
                        {{loan.Customer.Person.PrimaryAddress.Address.Zip.City.Name}}, {{loan.Customer.Person.PrimaryAddress.Address.Zip.City.State.Code}} {{loan.Customer.Person.PrimaryAddress.Address.Zip.Code}}<br />
                        Account Number: {{loan.ID}}<br />
                        Outstanding Balance: {{loan.Balances.Total | currency:'USD':'symbol-narrow':'1.2-2'}}<br />
                    </p>
                    <p>{{today | format: 'date' }}</p>

                    <p>Dear {{loan.Customer.Person.FirstName}} {{loan.Customer.Person.LastName}},</p>
                    <p>As you know, your payment of {{loan.PastDue.Amount | currency:'USD':'symbol-narrow':'1.2-2'}} was due on {{loan.PastDue.DueDate | format:'date'}}. We value your business and understand that sometimes things come up that make it difficult to pay.</p>
                    <p>We would like to work with you to get this resolved. In order to bring your account current, the amount of {{loan.AmountPastDue | currency:'USD':'symbol-narrow':'1.2-2'}} is due as of the date of this letter.<b> If you do not have the funds needed to pay off the loan at this time, we would be happy to try to work out an arrangement that will suit your budget or we may be able to explore other options on your loan. But we need to speak with you in order to help!</b></p>
                    <p>We need to hear from you in order to prevent additional action on your account which could include late fees, additional interest and assignment of wages allowable by law within your state.</p>
                    <p style="font-size: 15px;">Visit us on the web or you can pay online: {{loan.Request.Store.Brand.Website}}</p>
                    <p style="font-size: 15px;"><b>Note:</b> If payment of the balance has already been made, please notify this office at {{loan.Request.Store.Phones[0].Phone.Number | format:'phone'}} to avoid further communications.</p>
                    <p>Please give me a call as soon as possible at {{loan.Request.Store.Phones[0].Phone.Number | format:'phone'}} so we can discuss the options available to get your account on track.</p>
                    <p>I look forward to speaking with you.</p><br />
                    <p>Sincerely,</p>
                    <br /><br />
                    <p>
                        {{global.User.Person.FirstName}} {{global.User.Person.LastName}}<br />
                        {{loan.Request.Store.Brand.Name}}<br />
                        {{loan.Request.Store.Address.Street}}<br />
                        {{loan.Request.Store.Address.Zip.City.Name}}, {{loan.Request.Store.Address.Zip.City.State.Code}} {{loan.Request.Store.Address.Zip.Code}}<br />
                    </p>
                </div>
            </div>
            <!-- Past Due Second Notice -->
            <div *ngSwitchCase="'pastduesecond'" style="max-width: 800px; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px;">
                <div>
                    <img src="https://resources.minlc.com/images/soar/{{loan.Request.Store.Brand.ShortName}}.gif" alt="logo" width="150px" />
                </div>
                <div>
                    {{loan.Request.Store.Address.Street}}<br />
                    {{loan.Request.Store.Address.Zip.City.Name}}, {{loan.Request.Store.Address.Zip.City.State.Code}} {{loan.Request.Store.Address.Zip.Code}}<br />
                    {{loan.Request.Store.Phones[0].Phone.Number | format:'phone'}}<br />
                    {{loan.Request.Store.Brand.Website}}<br />
                </div>
                <br /><br /><br /><br /><br />
                <div>
                    <table>
                        <tr>
                            <td>
                                <p>
                                    {{loan.Customer.Person.FirstName}} {{loan.Customer.Person.LastName}}<br />
                                    {{loan.Customer.Person.PrimaryAddress.Address.Street}} {{loan.Customer.Person.PrimaryAddress.Address.Subpremise}}<br />
                                    {{loan.Customer.Person.PrimaryAddress.Address.Zip.City.Name}}, {{loan.Customer.Person.PrimaryAddress.Address.Zip.City.State.Code}} {{loan.Customer.Person.PrimaryAddress.Address.Zip.Code}}<br />
                                    Account Number: {{loan.ID}}<br />
                                    Outstanding Balance: {{loan.Balances.Total | currency:'USD':'symbol-narrow':'1.2-2'}}<br />
                                </p>
                            </td>
                            <td>
                                <span style="color:red; font-size:30px;margin-left: 100px">Second Notice</span>
                            </td>
                        </tr>
                    </table>
                    <p>{{today | format: 'date' }}</p>
                    <p>Dear {{loan.Customer.Person.FirstName}} {{loan.Customer.Person.LastName}},</p>
                    <p>This is our second documented attempt to reach you by mail. your payment of {{loan.PastDue.Amount | currency:'USD':'symbol-narrow':'1.2-2'}} was due on {{loan.PastDue.DueDate | format:'date'}}. </p>
                    <p>We would like to work with you to get this resolved. In order to bring your account current, the amount of {{loan.AmountPastDue | currency:'USD':'symbol-narrow':'1.2-2'}} is due as of the date of this letter.<b> If you do not have the funds needed to pay off the loan at this time, we would be happy to try to work out an arrangement that will suit your budget or we may be able to explore other options on your loan. But we need to speak with you in order to help!</b></p>
                    <p>We recommend that you take advantage of this opportunity to bring your account to current in order to prevent further collection activity. We need to hear from you in order to prevent additional action on your account which could include late fees, additional interest and assignment of wages allowable by law within your state.</p>
                    <p style="font-size: 15px;">Visit us on the web or you can pay online: {{loan.Request.Store.Brand.Website}}</p>
                    <p style="font-size: 15px;"><b>Note:</b> If payment of the balance has already been made, please notify this office at {{loan.Request.Store.Phones[0].Phone.Number | format:'phone'}} to avoid further communications.</p>
                    <p>Please give me a call as soon as possible at {{loan.Request.Store.Phones[0].Phone.Number | format:'phone'}} so we can discuss the options available to get your account on track.</p>
                    <p>I look forward to speaking with you.</p><br />
                    <p>Sincerely,</p>
                    <br /><br />
                    <p>
                        {{global.User.Person.FirstName}} {{global.User.Person.LastName}}<br />
                        {{loan.Request.Store.Brand.Name}}<br />
                        {{loan.Request.Store.Address.Street}}<br />
                        {{loan.Request.Store.Address.Zip.City.Name}}, {{loan.Request.Store.Address.Zip.City.State.Code}} {{loan.Request.Store.Address.Zip.Code}}<br />
                    </p>
                </div>
            </div>
            <!-- Past Due Final Notice -->
            <div *ngSwitchCase="'pastduefinal'" style="max-width: 800px; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px;">
                <div>
                    <img src="https://resources.minlc.com/images/soar/{{loan.Request.Store.Brand.ShortName}}.gif" alt="logo" width="150px" />
                </div>
                <div>
                    {{loan.Request.Store.Address.Street}}<br />
                    {{loan.Request.Store.Address.Zip.City.Name}}, {{loan.Request.Store.Address.Zip.City.State.Code}} {{loan.Request.Store.Address.Zip.Code}}<br />
                    {{loan.Request.Store.Phones[0].Phone.Number | format:'phone'}}<br />
                    {{loan.Request.Store.Brand.Website}}<br />
                </div>
                <br /><br /><br /><br /><br />
                <div>
                    <table>
                        <tr>
                            <td>
                                <p>
                                    {{loan.Customer.Person.FirstName}} {{loan.Customer.Person.LastName}}<br />
                                    {{loan.Customer.Person.PrimaryAddress.Address.Street}} {{loan.Customer.Person.PrimaryAddress.Address.Subpremise}}<br />
                                    {{loan.Customer.Person.PrimaryAddress.Address.Zip.City.Name}}, {{loan.Customer.Person.PrimaryAddress.Address.Zip.City.State.Code}} {{loan.Customer.Person.PrimaryAddress.Address.Zip.Code}}<br />
                                    Account Number: {{loan.ID}}<br />
                                    Outstanding Balance: {{loan.Balances.Total | currency:'USD':'symbol-narrow':'1.2-2'}}<br />
                                </p>
                            </td>
                            <td>
                                <span style="color:red; font-size:30px;margin-left: 100px">Final Notice</span>
                            </td>
                        </tr>
                    </table>
                    <p>{{today | format: 'date' }}</p>
                    <p>Dear {{loan.Customer.Person.FirstName}} {{loan.Customer.Person.LastName}},</p>
                    <p>This is our third and final documented attempt to reach you by mail. Your payment of {{loan.PastDue.Amount | currency:'USD':'symbol-narrow':'1.2-2'}} was due on {{loan.PastDue.DueDate | format:'date'}}.  </p>
                    <p>In order to bring your account current, the amount of {{loan.AmountPastDue | currency:'USD':'symbol-narrow':'1.2-2'}} is due as of the date of this letter. We recommend that you take advantage of this opportunity to bring your account to current in order to prevent further collection activity. We will be forced to pursue every necessary effort to recover this debt which could include late fees, additional interest and assignment of wages allowable by law within your state. If no action on your part is taken on this outstanding balance, we will be forced to submit this account to our collections department for further processing. </p>
                    <p><b>If you do not have the funds needed to pay off the loan at this time, we would be happy to try to work out an arrangement that will suit your budget or we may be able to explore other options on your loan.  But we need to speak with you in order to help!</b></p>
                    <p style="font-size: 15px;">Visit us on the web or you can pay online: {{loan.Request.Store.Brand.Website}}</p>
                    <p style="font-size: 15px;"><b>Note:</b> If payment of the balance has already been made, please notify this office at {{loan.Request.Store.Phones[0].Phone.Number | format: 'phone'}} to avoid further communications.</p>
                    <p>Please give me a call as soon as possible at {{loan.Request.Store.Phones[0].Phone.Number | format: 'phone'}} so we can discuss the options available to get your account on track.</p>
                    <p>I look forward to speaking with you.</p><br />
                    <p>Sincerely,</p>
                    <br /><br />
                    <p>
                        {{global.User.Person.FirstName}} {{global.User.Person.LastName}}<br />
                        {{loan.Request.Store.Brand.Name}}<br />
                        {{loan.Request.Store.Address.Street}}<br />
                        {{loan.Request.Store.Address.Zip.City.Name}}, {{loan.Request.Store.Address.Zip.City.State.Code}} {{loan.Request.Store.Address.Zip.Code}}<br />
                    </p>
                </div>
            </div>
            <div *ngSwitchDefault>
                Unknown item to print.  Please contact the helpdesk for more information.
            </div>
        </div>
            </div>
    <div class="no-print">
        <hr />
        <div class="row">
            <div class="col text-right">
                <button type="button" class="btn btn-info" (click)="print()">Print</button>
            </div>
        </div>
    </div>
</div>