<div class="row" *ngIf="type == 'email'">
    <div class="col-md-12">
        <form [formGroup]="emailForm" class="panel panel-info" (submit)="RecoverEmail()">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Find your username</h5>
                    <h6 class="card-subtitle mb-5">complete the form below</h6>
                    <div class="card-text">
                        <div class="row mb-2">
                            <div class="col">
                                <input type="text" class="form-control" formControlName="dob" [(ngModel)]="dob" placeholder="Date of Birth" />
                                <validation [control]="emailForm.controls.dob"></validation>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="lastName" placeholder="Last Name" />
                                <validation [control]="emailForm.controls.lastName"></validation>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col">
                                <input type="text" class="form-control" formControlName="ssn" [(ngModel)]="ssn" placeholder="SSN" />
                                <validation [control]="emailForm.controls.ssn"></validation>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <a [routerLink]="['/login']" class="card-link">I remember it!</a>
                            </div>
                            <div class="col text-right">
                                <button type="submit" class="btn btn-block btn-primary" [disabled]="!emailForm.valid">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-muted text-center"><small>&copy; 2018. All Rights Reserved.</small></div>
        </form>
    </div>
</div>

<div class="row" *ngIf="type == 'password'">
    <div class="col-md-12">
        <form [formGroup]="passwordForm" class="panel panel-info" (submit)="RecoverPassword()">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account recovery</h5>
                    <h6 class="card-subtitle mb-5">{{User.Username}}</h6>
                    <div class="card-text">
                        <div class="row mb-2">
                            <div class="col">
                                <button type="submit" class="btn btn-block btn-primary">Send password reset instructions to {{User.Username}}</button>
                            </div>
                        </div>
                        <h3 class="text-center">-- OR --</h3>
                        <div class="row mb-2">
                            <div class="col">
                                Recover my account via SMS with the cell phone on file
                                <input type="text" class="form-control" formControlName="phone" [(ngModel)]="phone" placeholder="Phone" />
                                <validation [control]="passwordForm.controls.phone"></validation>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a [routerLink]="['/login']" class="card-link">I remember it!</a>
                            </div>
                            <div class="col text-right">
                                <button type="submit" class="btn btn-block btn-primary" [disabled]="!passwordForm.valid">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-muted text-center"><small>&copy; 2018. All Rights Reserved.</small></div>
        </form>
    </div>
</div>