<div class="card loader" *ngIf="loading"></div>
<div class="card mb-5" *ngIf="!loading && person.PrimaryBankAccount">
    <div class="card-body">
        <h5 class="card-title">Primary Bank</h5>
        <div class="card-text">
            <div class="row">
                <div class="col text-muted">
                    {{person.PrimaryBankAccount.BankAccount.Bank.Name}}
                </div>
                <div class="col-2 text-right">
                    <span *ngIf="person.PrimaryBankAccount.IBVerification?.Status === IBVerificationStatus.Success">Verified</span>
                    <button type="button" class="btn btn-sm btn-block btn-danger" *ngIf="person.PrimaryBankAccount.IBVerification?.Status !== IBVerificationStatus.Success" (click)="sendIBV(person.PrimaryBankAccount)">
                        Verify
                    </button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    {{person.PrimaryBankAccount.BankAccount.Bank.Number}}
                </div>
                <div class="col">{{person.PrimaryBankAccount.BankAccount.Number}}</div>
                <div class="col-2 text-right">
                    <button (click)="decrypt(person.PrimaryBankAccount.BankAccount)" [disabled]="decrypted" type="button" class="btn btn-sm btn-block btn-info">Decrypt</button>
                </div>
            </div>
            <hr />
            <div class="row mt-2">
                <div class="col-7">
                    <b>IBV:</b>
                    <select class="form-control" [(ngModel)]="ibv">
                        <option value="">--Select One--</option>
                        <option *ngFor="let ibv of person.PrimaryBankAccount.IBVerifications" [ngValue]="ibv">{{ibv.Date | format:'date'}} - {{IBVerificationStatus[ibv.Status]}}</option>
                    </select>
                </div>
                <div class="col text-right">
                    <br />
                    <button type="button" class="btn btn-warning mr-2" (click)="sendIBV(person.PrimaryBankAccount)">New IBV</button>
                    <button type="button" class="btn btn-primary" (click)="viewReport()" *ngIf="ibv && ibv.Status==IBVerificationStatus.Success">View Report</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!loading && person.BankAccounts">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Your Bank Accounts</h5>
            <ngb-accordion [closeOthers]="true">
                <ngb-panel *ngFor="let PersonBankAccount of person.BankAccounts">
                    <ng-template ngbPanelTitle>
                        <span [ngClass]="PersonBankAccount.Primary ? 'primary-option' : ''">
                            <div class="row">
                                <div class="col">
                                    {{PersonBankAccount.BankAccount.Bank.Name | preview}}
                                </div>
                                <div class="col text-right">
                                    {{PersonBankAccount.BankAccount.Number | format:'last4'}}
                                </div>
                            </div>
                        </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="btn btn-block btn-default" style="padding: 0px; text-align: left; width: 100%;" routerLink="./bankform/{{PersonBankAccount.ID}}">
                            <small class="text-muted">Click to Edit/Delete</small>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 mb-2">
                                    <label>Routing:</label>
                                    {{PersonBankAccount.BankAccount.Bank.Number}}
                                </div>
                                <div class="col-md-6 col-sm-12 mb-2">
                                    <label>Type:</label>
                                    {{PersonBankAccount.BankAccount.Type.Name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 mb-2">
                                    <label>Account Number:</label>
                                    {{PersonBankAccount.BankAccount.Number}}
                                </div>
                                <div class="col-md-6 col-sm-12 mb-2">
                                    <label>Verify:</label>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger" *ngIf="PersonBankAccount.IBVerification?.Status !== IBVerificationStatus.Success" (click)="sendIBV(PersonBankAccount)">
                                        Unverified
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-2">
                            <div class="col-7">
                                <b>IBV:</b>
                                <select class="form-control" [(ngModel)]="ibv">
                                    <option value="">--Select One--</option>
                                    <option *ngFor="let ibv of PersonBankAccount.IBVerifications" [ngValue]="ibv">{{ibv.Date | format:'date'}} - {{IBVerificationStatus[ibv.Status]}}</option>
                                </select>
                            </div>
                            <div class="col text-right">
                                <br />
                                <button type="button" class="btn btn-warning mr-2" (click)="sendIBV(PersonBankAccount)">New IBV</button>
                                <button type="button" class="btn btn-primary" (click)="viewReport()" *ngIf="ibv && ibv.Status==IBVerificationStatus.Success">View Report</button>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <div class="row mt-3">
                <div class="col text-right">
                    <a routerLink="./bankform" class="btn btn-primary">Add A Bank Account</a>
                </div>
            </div>
        </div>
    </div>
</div>