<div class="card loader" *ngIf="loading || processing"></div>
<div class="card" *ngIf="!loading">
    <div class="card-body">
        <div class="row mb-5">
            <div class="col-8">
                <h5 class="card-title">{{payment ? 'Use' : (route.paramMap | async).get('id') ? 'Edit' : 'Add A'}} Bank Account</h5>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-danger" (click)="Delete()">Delete Bank</button>
            </div>
        </div>
        <div class="card-text">
            <form [formGroup]="form" (ngSubmit)="Submit(model)">
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="routing" [(ngModel)]="personBankAccount.BankAccount.Bank.Number" placeholder="Routing Number" (blur)="fetchBank()">
                        <validation [control]="form.controls.routing"></validation>
                    </div>
                    <div class="col-4" *ngIf="!isPayment">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" formControlName="primary" [(ngModel)]="personBankAccount.Primary" class="custom-control-input" id="primary">
                            <label class="custom-control-label" for="primary"> Primary</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="account" [(ngModel)]="personBankAccount.BankAccount.Number" placeholder="Account Number">
                            <span class="input-group-append">
                                <button (click)="decrypt(personBankAccount.BankAccount)" [disabled]="decrypted" type="button" class="btn btn-info">Decrypt</button>
                            </span>
                        </div>
                        <validation [control]="form.controls.account"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <select class="form-control" formControlName="type" [(ngModel)]="personBankAccount.BankAccount.Type.Name">
                            <option [ngValue]="undefined">--Select One--</option>
                            <option *ngFor="let type of global.Types.BankAccounts" [ngValue]="type.Name">{{type.Name}}</option>
                        </select>
                        <validation [control]="form.controls.type"></validation>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="name" [(ngModel)]="personBankAccount.BankAccount.Bank.Name" placeholder="Bank Name">
                        <validation [control]="form.controls.firstName"></validation>
                    </div>
                </div>
                <div class="row mt-5" *ngIf="!isPayment">
                    <div class="col">
                        <a class="btn btn-block btn-danger" (click)="redirect()">Back</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-block btn-primary" [disabled]="processing">
                            <span *ngIf="processing">Processing...</span>
                            <span *ngIf="!processing">Save</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>