<form [formGroup]="form" (ngSubmit)="Submit()">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create a Customer</h5>
            <div class="card-text">
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="firstName"  placeholder="First Name" autocomplete="given-name">
                        <validation [control]="form.controls.firstName"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="lastName"  placeholder="Last Name" autocomplete="family-name">
                        <validation [control]="form.controls.lastName"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="ssn"  placeholder="Social Security Number">
                        <validation [control]="form.controls.ssn"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="DOB: MM/DD/YYYY" name="dp" formControlName="dob"  ngbDatepicker #d="ngbDatepicker" [maxDate]="dobPickerConfiguration.maxDate" autocomplete="bday">
                                <div class="input-group-append">
                                    <button class="btn btn-warning" (click)="d.toggle()" type="button">
                                        <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                    </button>
                                </div>
                            </div>
                        </div>
                        <validation [control]="form.controls.dob"></validation>
                    </div>
                </div>
                <hr class="sm" />
                <div class="row pt-3 mb-2">
                    <div class="col-md-9 col-sm-12 mb-2">
                        <input type="text" class="form-control" formControlName="address"  placeholder="Address" autocomplete="street-address">
                        <validation [control]="form.controls.address"></validation>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-2">
                        <input type="text" class="form-control" formControlName="subpremise"  placeholder="Apt">
                        <validation [control]="form.controls.subpremise"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3 col-sm-12 mb-2">
                        <input type="text" class="form-control" formControlName="zip"  placeholder="Zip Code" (blur)="fetchZip()" autocomplete="postal-code">
                        <validation [control]="form.controls.zip"></validation>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-2">
                        <input type="text" class="form-control" formControlName="city"  placeholder="City" autocomplete="address-level2">
                        <validation [control]="form.controls.city"></validation>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-2">
                        <select class="form-control" formControlName="state"  autocomplete="address-level1">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                        <validation [control]="form.controls.state"></validation>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-block btn-danger"  [routerLink]="['/home']">Cancel</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-block btn-primary" [disabled]="processing">
                        <span *ngIf="processing">Processing</span>
                        <span *ngIf="!processing">Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<template #usernameFound>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Account Found!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>We already have this username in our system, try to sign in instead. If you don't remember your password, use the forgot password option.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>