<div class="card loader" *ngIf="loading || processing"></div>
<form [formGroup]="form" (ngSubmit)="Submit()" *ngIf="!loading">
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <div class="row mb-2">
                    <div class="col">
                        <div *ngIf="global.hasPermission('Admin') && !loading">
                            <select class="form-control" formControlName="status" [(ngModel)]="person.Customer.Status.Type.Name">
                                <option *ngFor="let type of statuses" [ngValue]="type.Name">{{type.Name}}</option>
                            </select>
                            <validation [control]="form.controls.status"></validation>
                        </div>
                        <div *ngIf="!global.hasPermission('Admin')">
                            <input type="text" class="form-control" formControlName="status" [value]="person.Customer.Status.Type.Name" readonly="readonly" />
                            <validation [control]="form.controls.status"></validation>
                        </div>
                    </div>
                    <div class="col">
                        <div *ngIf="global.hasPermission('RVP')">
                            <div class="input-group">
                                <input type="text" formControlName="ssn" [(ngModel)]="person.SSN" class="form-control" placeholder="SSN" />
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-info" (click)="Decrypt()">Decrypt</button>
                                </span>
                            </div>
                            <validation [control]="form.controls.ssn"></validation>
                        </div>
                        <div *ngIf="!global.hasPermission('RVP')">
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="ssn" [value]="person.SSN" readonly="readonly" placeholder="SSN" />
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-info" (click)="Decrypt()">Decrypt</button>
                                </span>
                                <validation [control]="form.controls.ssn"></validation>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2" *ngIf="global.hasPermission('RVP')">
                    <div class="col">
                        <input type="text" formControlName="firstName" [(ngModel)]="person.FirstName" class="form-control" placeholder="First Name" />
                        <validation [control]="form.controls.firstName"></validation>
                    </div>
                    <div class="col">
                        <input type="text" formControlName="lastName" [(ngModel)]="person.LastName" class="form-control" placeholder="Last Name" />
                        <validation [control]="form.controls.lastName"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class=" input-group">
                            <input class="form-control" placeholder="DOB: MM/DD/YYYY" formControlName="dob" ngbDatepicker #d="ngbDatepicker" [maxDate]="dobPickerConfiguration.maxDate">
                            <div class="input-group-append">
                                <button class="btn btn-warning" (click)="d.toggle()" type="button">
                                    <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                </button>
                            </div>
                        </div>
                        <validation [control]="form.controls.dob"></validation>
                    </div>
                </div>

                <hr class="sm" />

                <div class="row mb-2">
                    <div class="col-md-9 col-sm-12 mb-2">
                        <input type="text" class="form-control" formControlName="address" [(ngModel)]="person.PrimaryAddress.Address.Street" placeholder="Address">
                        <validation [control]="form.controls.address"></validation>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-2">
                        <input type="text" class="form-control" formControlName="subpremise" [(ngModel)]="person.PrimaryAddress.Address.Subpremise" placeholder="Apt">
                        <validation [control]="form.controls.subpremise"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3 col-sm-12 mb-2">
                        <input type="text" class="form-control" formControlName="zip" [(ngModel)]="person.PrimaryAddress.Address.Zip.Code" placeholder="Zip Code" (blur)="fetchZip()">
                        <validation [control]="form.controls.zip"></validation>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-2">
                        <input type="text" class="form-control" formControlName="city" [(ngModel)]="person.PrimaryAddress.Address.Zip.City.Name" placeholder="City">
                        <validation [control]="form.controls.city"></validation>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-2">
                        <select class="form-control" formControlName="state" [(ngModel)]="person.PrimaryAddress.Address.Zip.City.State.Code">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                        <validation [control]="form.controls.state"></validation>
                    </div>
                </div>

                <hr class="sm" />
                
                <div class="row mb-2">
                    <div class="col" *ngIf="language">
                        <select formControlName="language" class="form-control" [(ngModel)]="language.Value">
                            <option value="null" [selected]="language.Value == null">--Select One--</option>
                            <option value="ENGLISH" [selected]="language.Value == 'ENGLISH'">ENGLISH</option>
                            <option value="SPANISH" [selected]="language.Value == 'SPANISH'">SPANISH</option>
                        </select>
                        <validation [control]="form.controls.language"></validation>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="input-group">
                            <input #emailInput type="text" class="form-control" formControlName="email" [(ngModel)]="person.Emails[0].Email.Address" placeholder="Email" [readonly]="!emailOn">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-info" (click)="toggleEmail(); emailInput.focus(); emailInput.value = ''">
                                    <span *ngIf="emailOn">No Email</span>
                                    <span *ngIf="!emailOn">Add Email</span>
                                </button>
                            </span>
                        </div>
                        <validation [control]="form.controls.email"></validation>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" formControlName="optinEmail" class="custom-control-input" id="optinEmail">
                            <label class="custom-control-label" for="optinEmail">Opt-In<br /><small class="form-text text-muted">Receive Content via Email</small></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" formControlName="optinSMS" class="custom-control-input" id="optinSMS">
                            <label class="custom-control-label" for="optinSMS">Opt-In<br /><small class="form-text text-muted">Receive Content via Text/SMS</small></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" formControlName="optinMail" class="custom-control-input" id="optinMail">
                            <label class="custom-control-label" for="optinMail">
                                Opt-In<br /><small class="form-text text-muted">Receive Content via Mail</small>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-block btn-danger" [routerLink]="['/account']">Cancel</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-block btn-primary" [disabled]="processing">
                            <span *ngIf="processing">Processing...</span>
                            <span *ngIf="!processing">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>