<div class="card loader" *ngIf="loading"></div>
<div *ngIf="!loading && customer">
    <div class="row">
        <div class="col-4">
            <h5>Add A Note</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <b>Note:</b><br />
            <textarea [(ngModel)]="note.Message" class="form-control" rows="3"></textarea>
        </div>
        <div class="col-5">
            <div *ngIf="activeLoans.length > 0">
                <div *ngIf="!isPTP">
                    <b>Is this a PTP?</b><br />
                    <select class="form-control" [(ngModel)]="isPTP">
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </div>
                <div *ngIf="isPTP">
                    <div *ngIf="!note.PTPDate">
                        <b>PTP Date:</b><br />
                        <datepicker [(ngModel)]="date" [Class]="'right'" [PlaceholderText]="'PTP: MM/DD/YYYY'"></datepicker>

                        <div class="row mt-2">
                            <div class="col">
                                <button type="button" class="btn btn-block btn-danger" (click)="isPTP = false">Back</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-block btn-primary" (click)="note.PTPDate = date">Next</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="note.PTPDate">
                        <b>PTP For Loan:</b><br />
                        <select class="form-control" [(ngModel)]="note.LoanRequest.ID">
                            <option *ngFor="let loan of activeLoans" [ngValue]="loan.ID">{{loan.ID}} - {{loan.Status?.Type?.Name}} ({{loan.Balances.Total | currency:'USD':'symbol-narrow':'1.2-2'}})</option>
                        </select>
                    </div>
                </div>
            </div>
            <div [ngClass]="activeLoans.length > 0 ? 'row mt-2' : 'row mt-4_5'" *ngIf="activeLoans.length == 0 || (activeLoans.length > 0 && isPTP && note.PTPDate) || (activeLoans.length > 0 && !isPTP)">
                <div class="col">
                    <button type="button" class="btn btn-block btn-danger" (click)="Reset()">
                        <span *ngIf="!processing">Reset</span>
                        <span *ngIf="processing">Processing</span>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-block btn-primary" (click)="Submit()" [disabled]="!note.Message || (activeLoans.length > 0 && isPTP == undefined) || (activeLoans.length > 0 && isPTP && (!note.PTPDate || !note.LoanRequest.ID))">
                        <span *ngIf="!processing">Submit</span>
                        <span *ngIf="processing">Processing</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
        
</div>