<div class="card loader" *ngIf="loading"></div>
<div *ngIf="!loading && customer">
    <div class="mt-4">
        <noteform [customer]="customer" (success)="addNote($event)"></noteform>
        <hr />
        <h5>All Account Notes</h5>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>User</th>
                    <th>LoanID</th>
                    <th>PTP</th>
                </tr>
                <tr *ngFor="let note of customer.Notes || [] | sort : [{key: 'Date', direction: 'desc'}]">
                    <td>
                        {{note.Date | format:'date'}}
                    </td>
                    <td>
                        {{note.Message}}
                    </td>
                    <td>
                        {{note.User?.Username}}
                    </td>
                    <td>
                        <span *ngIf="note.LoanRequest">{{note.LoanRequest.ID}}</span>
                        <span *ngIf="!note.LoanRequest">N/A</span>
                    </td>
                    <td>
                        <span *ngIf="note.PTPDate">{{note.PTPDate | format:'date'}}</span>
                        <span *ngIf="!note.PTPDate">N/A</span>
                    </td>
                </tr>
            </table>
        </div>
        <!--<div class="row mb-2">
        <div class="col-2 offset-5">
            <button class="btn btn-default" (click)="page = page - 1" [disabled]="totalPages <= 1">&laquo; Prev</button>
        </div>
        <div class="col-3 text-center" style="font-size: 15pt; padding-top: 10px;">
            <div *ngIf="totalPages <= 1">
                {{page}} / {{page}}
            </div>
            <div *ngIf="totalPages > 1">
                {{page}} / {{totalPages}}
            </div>
        </div>
        <div class="col-2 text-right">
            <button class="btn btn-default" (click)="page = page + 1" [disabled]="totalPages <= 1">Next &raquo;</button>
        </div>
    </div>-->
    </div>
</div>