<div class="card loader" *ngIf="loading"></div>
<div *ngIf="!loading && person.PrimaryPhone" class="card mb-5">
    <div class="card-body">
        <h5 class="card-title">Primary Phone</h5>
        <div class="card-text">
            <div class="row mb-2">
                <div class="col">
                    <b>Description:</b><br />
                    {{person.PrimaryPhone.Name}}
                </div>
                <div class="col">
                    <b>Type:</b><br />
                    {{person.PrimaryPhone.Phone.Type?.Name}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b>Number:</b><br />
                    {{person.PrimaryPhone.Phone.Number | format:'phone'}}
                    <span *ngIf="person.PrimaryPhone.Extension && person.PrimaryPhone.Extension.length > 0"> ext: {{person.PrimaryPhone.Extension}}</span>
                </div>
                <div class="col">
                    <b>Status:</b><br />
                    {{person.PrimaryPhone.Status?.Name}}
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="person.Phones && !loading">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">All Phones</h5>
            <ngb-accordion [closeOthers]="true">
                <ngb-panel *ngFor="let personPhone of person.Phones">
                    <ng-template ngbPanelTitle>
                        <div class="row">
                            <div class="col">
                                {{personPhone.Name}} -
                                {{personPhone.Phone.Number | format:'phone'}}
                                <span *ngIf="personPhone.Extension && personPhone.Extension.length > 0"> ext: {{personPhone.Extension}}</span>
                                <span *ngIf="personPhone.Phone.Type?.Name && personPhone.Primary">
                                    ({{personPhone.Phone.Type?.Name}} | Primary)
                                </span>
                                <span *ngIf="personPhone.Phone.Type?.Name && !personPhone.Primary">
                                    ({{personPhone.Phone.Type?.Name}})
                                </span>
                                <span *ngIf="!personPhone.Phone.Type?.Name && personPhone.Primary">
                                    (Primary)
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <phoneitem [personPhone]="personPhone"></phoneitem>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <div class="row mt-3">
                <div class="col text-right">
                    <a routerLink="./phoneform" class="btn btn-primary">Add A Phone</a>
                </div>
            </div>
        </div>
    </div>
</div>