<div *ngIf="personPhone">
    <div class="btn btn-block btn-default" style="padding: 0px; text-align: left; width: 100%;" routerLink="/account/{{personPhone.Person.ID}}/phone/{{personPhone.Person.ID}}/phoneform/{{personPhone.ID}}">
        <small class="text-muted">Click to Edit/Delete</small>
        <div class="row">
            <div class="col-md-8 col-sm-12 mb-2">
                <label style="margin-bottom: 0px;">Number:</label><br />
                {{personPhone.Phone?.Number | format: 'phone'}}
            </div>
            <div class="col-md-4 col-sm-12 mb-2">
                <label style="margin-bottom: 0px;">Type:</label><br />
                {{personPhone.Phone?.Type?.Name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 mb-2">
                <label style="margin-bottom: 0px;">Description:</label><br />
                {{personPhone.Name}}
            </div>
            <div class="col-md-4 col-sm-12 mb-2">
                <label style="margin-bottom: 0px;">Status:</label><br />
                {{personPhone.Status?.Name}}
            </div>
        </div>
    </div>
</div>