<div class="card loader" *ngIf="loading || processing"></div>
<div class="card" *ngIf="!loading">
    <div class="card-body">
        <div class="row mb-4">
            <div class="col">
                <h5 class="card-title">
                    <span *ngIf="personPhone.ID">Edit</span>
                    <span *ngIf="!personPhone.ID">Add</span>
                    Phone For {{person.FirstName}} {{person.LastName}}
                </h5>
            </div>
            <div class="col-3 text-right" *ngIf="personPhone.ID">
                <button type="button" class="btn btn-danger" (click)="Delete()" [disabled]="processing">
                    <span *ngIf="!processing">Delete Phone</span>
                    <span *ngIf="processing">Processing</span>
                </button>
            </div>
            <div class="row" *ngIf="message">
                <div class="col">
                    <div class="alert alert-sm alert-danger mt-1">{{message}}</div>
                </div>
            </div>
        </div>
        <div class="card-text">
            <form [formGroup]="form" (ngSubmit)="Submit()">
                <div class="row mb-2">
                    <div class="col-9">
                        <input type="text" class="form-control" formControlName="number" [(ngModel)]="personPhone.Phone.Number" placeholder="Phone Number" />
                        <validation [control]="form.controls.number"></validation>
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" formControlName="extension" [(ngModel)]="personPhone.Extension" placeholder="Extension" />
                        <validation [control]="form.controls.extension"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="description" [(ngModel)]="personPhone.Name" placeholder="Description" />
                        <validation [control]="form.controls.description"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <select class="form-control" formControlName="status" [(ngModel)]="personPhone.Status.Name">
                            <option value="" [selected]="personPhone.Status.Name == null">--Select One--</option>
                            <option value="Active">Active</option>
                            <option value="InActive">InActive</option>
                        </select>
                        <validation [control]="form.controls.status"></validation>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a class="btn btn-block btn-danger" (click)="redirect()">Back</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-block btn-primary" [disabled]="processing">
                            <span *ngIf="processing">Processing...</span>
                            <span *ngIf="!processing">Save</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #RequestPIN let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title pull-left">PIN Request</h3>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mb-3" *ngIf="!requestedPIN">
            <div class="col">
                <p>This is a valid cell phone and according to <b>Federal TCPA guidelines</b>, we must verify that this phone belongs to this customer.  Click the button below to send a SMS (text) message to this phone that contains a PIN.  Once they receive it, enter it in the following box.</p>
                <p>If the customer does not have their phone with them, click "Skip".  This will require an RVP Override in order for a loan to be processed.</p>
               <div class="row">

                   <div class="offset-4 col-4 text-right">
                       <button type="button" class="btn btn-danger" (click)="d('Cross click'); redirect()">Skip</button>
                    </div>
                    <div class="col-4 text-right">
                        <button type="button" class="btn btn-primary" (click)="csrRequestPIN()" (disabled)="waiting">
                            <span *ngIf="!processing">Send PIN</span>
                            <span *ngIf="processing">Processing</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3" *ngIf="requestedPIN">
            <div class="form-group">
                <div class="row">
                    <label class="col text-right control-label">PIN #:</label>
                    <div class="col">
                        <input type="text" class="form-control" [(ngModel)]="pin" />
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-block btn-primary" (click)="ConfirmPIN()">
                            <span *ngIf="!processing">Confirm</span>
                            <span *ngIf="processing">Processing</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" *ngIf="pinMsg">
                <div class="col-md-12">
                <div class="alert alert-danger">{{pinMsg}}</div>
            </div>
        </div>
    </div>
</ng-template>