<div class="card loader" *ngIf="loading || processing"></div>
<div class="card" *ngIf="!loading">
    <div class="card-body">
        <div class="row mb-4" *ngIf="reference.ID">
            <div class="col">
                <h5 class="card-title">{{activatedRoute.snapshot.paramMap.get('id')?'Edit ': 'Add An '}} Reference</h5>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-danger" (click)="Delete()" [disabled]="processing">
                    <span *ngIf="!processing">Delete Reference</span>
                    <span *ngIf="processing">Processing...</span>
                </button>
                <div class="row" *ngIf="message">
                    <div class="alert alert-sm alert-danger mt-1">{{message}}</div>
                </div>
            </div>
        </div>
        <div class="card-text">
            <form [formGroup]="form" (ngSubmit)="Submit()">
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="firstName" [(ngModel)]="reference.Person.FirstName" placeholder="First Name" />
                        <validation [control]="form.controls.firstName"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="reference.Person.LastName" placeholder="Last Name" />
                        <validation [control]="form.controls.lastName"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <select class="form-control" formControlName="type" [(ngModel)]="reference.Type.Name">
                            <option [ngValue]="undefined" selected>--Relationship--</option>
                            <option *ngFor="let type of global.Types.CustomerReferences" [ngValue]="type.Name">{{type.Name}}</option>
                        </select>
                        <validation [control]="form.controls.type"></validation>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a class="btn btn-block btn-danger" (click)="redirect()">Back</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-block btn-primary" [disabled]="processing">
                            <span *ngIf="processing">Processing...</span>
                            <span *ngIf="!processing">Save</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>