<div class="card loader" *ngIf="loading"></div>
<div *ngIf="person.Customer.References && !loading">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">All References</h5>
            <ngb-accordion [closeOthers]="true">
                <ngb-panel *ngFor="let reference of person.Customer.References">
                    <ng-template ngbPanelTitle>
                        <div class="row">
                            <div class="col">
                                {{reference.Type?.Name}} - 
                                {{reference.Person.FirstName}} {{reference.Person.LastName}}
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="btn btn-block btn-default" style="padding: 0px; text-align: left; width: 100%;" routerLink="./referenceform/{{reference.ID}}">
                            <small class="text-muted">Click to Edit/Delete</small>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 mb-2">
                                    <label style="margin-bottom: 0px;">Name:</label><br />
                                    {{reference.Person.FirstName}} {{reference.Person.LastName}}
                                </div>
                                <div class="col-md-6 col-sm-12 mb-2">
                                    <label style="margin-bottom: 0px;">Relationship:</label><br />
                                    {{reference.Type?.Name}}
                                </div>
                            </div>
                            <div *ngFor="let personPhone of reference.Person.Phones">
                                <hr />
                                <phoneitem [personPhone]="personPhone"></phoneitem>
                            </div>
                            <hr />
                            <div class="row mt-3">
                                <div class="col-4 offset-4">
                                    <button type="button" class="btn btn-block btn-success" routerLink="../phone/{{reference.Person.ID}}/phoneform">Add A Phone</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <div class="row mt-3">
                <div class="col text-right">
                    <a routerLink="./referenceform" class="btn btn-primary">Add An Reference</a>
                </div>
            </div>
        </div>
    </div>
</div>