<div class="card loader" *ngIf="loading"></div>
<div class="row" *ngIf="!loading">
    <div class="col-md-3 d-none d-md-block" style="border-right: 1px solid #e7e7e7; background-color: #f8f8f8; max-width: 250px; margin-top: -21px;">
        <ul class="nav flex-column nav-tabs" aria-orientation="vertical" role="tablist" style="padding-bottom: 1000px;">
            <li class="divider">
                <h6>Loan Information</h6>
            </li>
            <li class="btn-link" [routerLink]="['./prerequest']" routerLinkActive="active" *ngIf="activity.length == 0">
                <i class="material-icons">add</i> Request
            </li>
            <li class="btn-link" [routerLink]="['./active']" routerLinkActive="active" *ngIf="activity.length > 0">
                <i class="material-icons">attach_money</i> Active
            </li>
            <li class="btn-link" [routerLink]="['./history']" routerLinkActive="active">
                <i class="material-icons">history</i> History
            </li>
            <li class="divider mt-3">
                <h6>Customer Information</h6>
            </li>
            <li class="btn-link" [routerLink]="['detail']" routerLinkActive="active">
                <i class="material-icons">person</i> Details
            </li>
            <li class="btn-link" [routerLink]="['phone', customer.ID]" routerLinkActive="active">
                <i class="material-icons">phone</i> Phone(s)
            </li>
            <li class="btn-link" [routerLink]="['reference']" routerLinkActive="active">
                <i class="material-icons">supervisor_account</i> Reference(s)
            </li>
            <li class="btn-link" [routerLink]="['income']" routerLinkActive="active">
                <i class="material-icons">business_center</i> Income(s)
            </li>
            <li class="btn-link" [routerLink]="['bank']" routerLinkActive="active">
                <i class="material-icons">account_balance</i> Bank(s)
            </li>
            <li class="btn-link" [routerLink]="['debit']" routerLinkActive="active">
                <i class="material-icons">credit_card</i> Debit Card(s)
            </li>
            <li class="btn-link" [routerLink]="['beCard']" routerLinkActive="active">
                <i class="material-icons">star</i> BeCard
            </li>
            <li class="btn-link" [routerLink]="['note']" routerLinkActive="active">
                <i class="material-icons">notes</i> Note(s)
            </li>
            <li class="btn-link" [routerLink]="['credential']" routerLinkActive="active">
                <i class="material-icons">fingerprint</i> Credentials
            </li>
            <li class="divider mt-3">
                <h6>Documents</h6>
            </li>
            <li class="btn-link" [routerLink]="['personalhistory']" routerLinkActive="active">
                <i class="material-icons">edit</i> Personal History Form
            </li>
            <li class="btn-link" *ngIf="customer" routerLink="/scan/customer/{{customer.ID}}" routerLinkActive="active">
                <i class="material-icons">folder_open</i> Scanned Documents
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-12">
        <div class="row">
            <div class="col" style="clear: both;">
                <h5 (click)="hasIssues && openIssues()" [style.cursor]="hasIssues?'pointer':''">
                    <div style="float: left;">{{customer.Person.FirstName}} {{customer.Person.LastName}}</div>
                    <div *ngIf="(issueService.issues$ | async).length > 0" class="badge alert-danger" style="float: left; margin-top: -10px; padding: 4px; font-weight: normal;">{{(issueService.issues$ | async).length}}</div>
                    <div style="float: left; font-size: 10pt; margin-top: 8px; padding-left: 10px;" class="text-muted">Customer #: {{customer.ID}}</div>
                </h5>
            </div>
            <div class="col text-right" style="font-size: 10pt;">
                <b>Total NMI:</b> {{totalNMI | currency:'USD':'symbol-narrow':'1.2-2'}}
            </div>
        </div>
        <div class="row" *ngIf="customer.ScoreCard" style="font-size: 10pt;">
            <div class="col">
                <b>Minute IQ:</b> {{customer.ScoreCard.Level}}
                <span *ngIf="global.hasPermission('RVP')">(CS: {{customer.ScoreCard.ClarityScore}}; CD: {{customer.ScoreCard.ClarityDecile}}; PD: {{customer.ScoreCard.Decile}})</span>
            </div>
            <div class="col text-right">
                <span *ngIf="customer.ScoreCard.Expired">
                    Minute IQ has expired. <button class="btn btn-sm btn-info" (click)="open(clarityModal)">Re-Pull Minute IQ</button>
                </span>
                <span *ngIf="!customer.ScoreCard.Expired" (click)="openPML()" class="btn btn-link" style="font-size: 10pt;">
                    View PML (active for {{customer.ScoreCard.Date | countdown}})
                </span>
            </div>
        </div>
        <hr class="sm" />

        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #Issues let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Customer Issues</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-10">
                Please correct the following issues:
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-sm btn-info" (click)="issueService.sync(customer.ID)">
                    <i class="material-icons" *ngIf="issueService.syncing">refresh</i>
                    <i class="material-icons" *ngIf="!issueService.syncing">loop</i>
                </button>
            </div>
        </div>
        <hr />
        <div class="card loader" *ngIf="processing"></div>
        <div *ngIf="!issueService.syncing">
            <div *ngFor="let issue of issueService.issues$ | async" [ngClass]="(issue.Type === issueType.Error) ? 'alert alert-danger' : 'alert alert-warning'">
                <b>{{issue.Name}}</b> - {{issue.Description}}
                <div class="row">
                    <div class="col text-right">
                        <button type="button" class="btn btn-warning" (click)="closeIssues(issue)" *ngIf="issue.Module">Correct Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #clarityModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title pull-left">Request Updated Minute IQ</h3>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger">
                    This is a hard credit check on the customer.  Are you sure you want to do this?
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="password" class="form-control" placeholder="Enter your Password" [(ngModel)]="password" />
            </div>
        </div>
        <div class="row" *ngIf="invalidPassword">
            <div class="col">
                <div class=" alert alert-danger">
                    {{invalidPassword}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button type="button" class="btn btn-success" (click)="clarityUpdate()" [disabled]="processing">
                    <span *ngIf="processing">Processing</span>
                    <span *ngIf="!processing">Submit</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #PMLModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title pull-left">Potential Max Loan By Term</h3>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" *ngIf="!pmls.length">
            <div class="col">
                <div class="alert alert-danger">
                    <b>Potential Max Loan Unavailable</b>
                    <div *ngIf="!customer.Store">
                        {{customer.Person.FirstName}} {{customer.Person.LastName}} is not associated with a Store.<br />Please update their address to have them assigned to a Store.
                    </div>
                    <div *ngIf="customer.Store">
                        Please contact the help desk to see why this customer has no PML.
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="pmls.length">
            <div class="col">
                <small>
                    <b>
                        Amounts shown below are for informational purposes only and may not reflect the actual loan offerings for the customer.  
                        These figures are based on the Customer's store or the state they live in.
                    </b>
                </small>
                <br /><br />
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th class="col-md-6 text-center">Loan Type</th>
                        <th class="col-md-6 text-center">Amount</th>
                    </tr>
                    <tr class="text-center" *ngFor="let pml of pmls">
                        <td>{{pml.Name}}</td>
                        <td>{{pml.Value | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</ng-template>