﻿.active {
    outline: none;
    text-decoration: none;
}
.sm {
    margin: 10px;
}

.nav.flex-column.nav-tabs > li:hover:not(.divider) {
    text-decoration: none;
    border: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}
.nav.flex-column.nav-tabs > li:not(.divider) {
    border: 1px solid #f8f8f8;
    padding-left: 5px;
    cursor: pointer;
} 
.nav-tabs {
        border: 0px;
} 
.nav-tabs > li {
    border-radius: 0px;
    padding: 5px;
    margin: 0px;
}
.nav-tabs > li.active {
    border-left: 3px solid #555 !important;
    margin-left: -3px;
}
.material-icons{vertical-align: middle; font-size: 18px; }