﻿.sm {
    margin: 5px !important;
}

.alert {
    padding: 7px;
}

.fontLg {
    font-size: 16px;
}

.active {
    border: 0px;
    border-left: 3px solid #006699;
}

/* Spring 2018 Contest */
/*Flowers*/
#firstPlaceFlowersName {
    position: absolute;
    top: 104px;
    left: 78px;
}

#secondPlaceFlowersName {
    position: absolute;
    top: 140px;
    left: 78px;
}

#thirdPlaceFlowersName {
    position: absolute;
    top: 175px;
    left: 78px;
}

#firstPlaceFlowersPercentage {
    position: absolute;
    top: 104px;
    left: 202px;
}

#secondPlaceFlowersPercentage {
    position: absolute;
    top: 140px;
    left: 202px;
}

#thirdPlaceFlowersPercentage {
    position: absolute;
    top: 175px;
    left: 202px;
}
/*Showers*/
#firstPlaceShowersName {
    position: absolute;
    top: 104px;
    left: 323px;
}

#secondPlaceShowersName {
    position: absolute;
    top: 140px;
    left: 323px;
}

#thirdPlaceShowersName {
    position: absolute;
    top: 175px;
    left: 323px;
}

#firstPlaceShowersPercentage {
    position: absolute;
    top: 104px;
    left: 446px;
}

#secondPlaceShowersPercentage {
    position: absolute;
    top: 140px;
    left: 446px;
}

#thirdPlaceShowersPercentage {
    position: absolute;
    top: 177px;
    left: 446px;
}
/*Bees*/
#firstPlaceBeesName {
    position: absolute;
    top: 104px;
    left: 568px;
}

#secondPlaceBeesName {
    position: absolute;
    top: 140px;
    left: 568px;
}

#thirdPlaceBeesName {
    position: absolute;
    top: 177px;
    left: 568px;
}

#firstPlaceBeesPercentage {
    position: absolute;
    top: 104px;
    left: 692px;
}

#secondPlaceBeesPercentage {
    position: absolute;
    top: 140px;
    left: 692px;
}

#thirdPlaceBeesPercentage {
    position: absolute;
    top: 177px;
    left: 692px;
}
/*My Store*/
#myRank {
    font: italic bold 18px/30px Georgia, serif;
    position: absolute;
    top: 275px;
    left: 86px;
    color: red;
}

#myTier {
    position: absolute;
    top: 278px;
    left: 183px;
    width: 30px;
    height: 30px;
}

#myStoreName {
    position: absolute;
    top: 272px;
    left: 313px;
}

#myStorePercentage {
    position: absolute;
    top: 272px;
    left: 455px;
}

.blue {
    color: rgb(0, 160, 255);
}

.green {
    color: rgb(104, 165, 69);
}

.smFont {
    font: italic bold 12px/30px Georgia, serif;
}

.lgFont {
    font: italic bold 15px/30px Georgia, serif;
}