<div *ngIf="loading">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="https://resources.minlc.com/images/soar/Ripple.gif" width="35" />
        </div>
    </div>
</div>

<div class="container" *ngIf="!loading">
    <!--Start Performance/Goals -->
    <div class="row">
        <div class="col-5">
            <div *ngFor="let stat of stats">
                <div class="row">
                    <div [ngClass]="(activeStat == stat.Name)? 'col active' : 'col'" (click)="UpdateStatChart(stat)" style="cursor:pointer;">
                        <div class="row">
                            <div class="col-md-12">
                                <p><strong>{{stat.Name}}</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Current:</p>
                            </div>
                            <div class="col text-right">
                                <p *ngIf="stat.Name=='Accounts Receivable (AR)'">{{stat.Yesterday | currency:'USD':'symbol-narrow':'1.2-2'}}</p>
                                <p *ngIf="stat.Name=='Unique Customer Count (UCC)'">{{stat.Yesterday | number:'1.0-2'}}</p>
                                <p *ngIf="stat.Name=='Month to Date Bad Debt (MTDBD)'">{{stat.Yesterday | currency:'USD':'symbol-narrow':'1.2-2'}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>This Month's Goal:</p>
                            </div>
                            <div class="col text-right">
                                <p *ngIf="stat.Name=='Accounts Receivable (AR)'">{{stat.MonthGoal | currency:'USD':'symbol-narrow':'1.2-2'}}</p>
                                <p *ngIf="stat.Name=='Unique Customer Count (UCC)'">{{stat.MonthGoal | number:'1.0-2'}}</p>
                                <p *ngIf="stat.Name=='Month to Date Bad Debt (MTDBD)'">{{stat.MonthGoal | currency:'USD':'symbol-narrow':'1.2-2'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
        <div class="col-6 offset-1">
            <div class="row" *ngIf="stats && stat">
                <div class="text-center" style="max-height: 500px;">
                    <canvas baseChart #statChart="base-chart" height="450" width="500"
                            [datasets]="stat.Data"
                            [labels]="stat.Label"
                            [options]="chartOptions"
                            [colors]="stat.ChartColor"
                            [chartType]="chartOptions.Type"
                            [legend]="chartOptions.Legend"
                            (chartHover)="chartHovered($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- End Performance -->
</div>