<div *ngIf="loading">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="https://resources.minlc.com/images/soar/Ripple.gif" width="35" />
        </div>
    </div>
</div>

<div class="container" *ngIf="!loading">
    <div *ngFor="let glance of glances">
        <a *ngIf="glance.Active" routerLink="/{{glance.URL}}">
            <div class="alert {{glance.AlertClass}}">
                <span [innerHTML]="glance.Message"></span>
            </div>
        </a>
    </div>
</div>