<div *ngIf="loading">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="https://resources.minlc.com/images/soar/Ripple.gif" width="35" />
        </div>
    </div>
</div>
<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="col">
            <homemessages></homemessages>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <homestats></homestats>
        </div>
    </div>
</div>