﻿.sm { margin: 10px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border: 0px; border-left: 3px solid #555; }
.nav-tabs{ border: 0px; }
.nav-tabs > li > a{ border-radius: 0px; padding: 6px; }
.active{ font-weight: bold; }

.scroll{ overflow-y: scroll; }

.suggestions {
    position: relative;
}

.suggestions > ul {
    position: absolute;
    z-index: 5000000;
    list-style-type: none;
    width: 100%;
    padding: 0px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #999;
    background-color: #f8f8f8;
}

    .suggestions > ul > li {
        cursor: pointer;
        padding: 5px;
    }

.search-active {
    background: #337ab7;
    color: white;
}
.form-control {
    font-weight: normal;
}

.searchbox {
    clear: both;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.searchbox:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.searchEmployees {
    height: 38px;
    min-width: 100px;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 4px;
    float: left;
}
.searchEmployees:focus{ border: none; outline: none; }
.token-list {
    list-style: none;
    font-size: 12px;
    font-family: Verdana;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    clear: both;
}
.token {
    margin: 3px;
    padding: 5px 3px;
    background-color: #337ab7;
    color: #fff;
    border: 1px solid #2e6da4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    white-space: nowrap;
    float: left;

}
.emptyToken {
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}