﻿.sm { margin: 10px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0px;
    border-left: 3px solid #555;
    font-weight: bold;
}
.nav-tabs{ border: 0px; }
.nav-tabs > li { margin: 3px 0px; }
.nav-tabs > li > a{ border-radius: 0px; padding: 6px; text-align: left; }
.nav-tabs > li > a:hover {
    background-color: #eee;
    border-color: #eee #eee #ddd;
    border-top-color: rgb(238, 238, 238);
    border-right-color: rgb(238, 238, 238);
    border-bottom-color: rgb(221, 221, 221);
    border-left-color: rgb(238, 238, 238);
}