<form [formGroup]="composeForm" class="form-horizontal">
    <h3>Compose Message</h3>
    <hr class="sm" />
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-block"><b>To:</b></button>
        </div>
        <div class="col-10">
            <div class="searchbox" [style.height.px]="toHeight">
                <ul class="token-list">
                    <li class="emptyToken">
                        <span class="token" *ngFor="let to of sendTo" style="cursor: default;">
                            {{to?.FirstName}} {{to?.LastName}} <span style="cursor: pointer;" (click)="RemoveEmployee(to)">&times;</span>
                        </span>
                        <span class="searchEmployees" contenteditable="true" [textContent]="Filter" (input)="Filter=$event.target.textContent"></span>
                    </li>
                </ul>
            </div>
            <div class="suggestions" *ngIf="searching">
                <ul>
                    <li class="list-unstyled">
                        <div class="text-center">
                            <small style="font-style: italic;">Searching: {{this.Filter}}</small>
                            <br />
                            <img width="35" src="https://resources.minlc.com/images/soar/Ripple.gif" />
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngIf="employees">
                <div class="suggestions" *ngIf="!searching && employees.length === 0">
                    <ul>
                        <li>
                            <div class="text-center">
                                Unable to find a match
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="suggestions" *ngIf="!searching && employees.length > 0">
                    <ul>
                        <li *ngFor="let employee of employees" (click)="AddEmployee(employee)" (mouseover)="SetActive($event)" (mouseout)="SetActive($event)" class="customer" [attr.key]="employee.ID">
                            {{employee.Person?.FirstName}} {{employee.Person?.LastName}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-2 text-center">
            <b>Subject:</b>
        </div>
        <div class="col-10">
            <input type="text" formControlName="subject" class="form-control" [(ngModel)]="subject" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-12">
            <div contenteditable="true" (input)="body=$event.target.innerHTML" class="form-control" style="height: 350px; overflow: auto;">
                <div [innerHTML]="this.messageService.compose && this.messageService.compose.Body" #content></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-2 offset-8">
            <button type="button" class="btn btn-danger btn-block" (click)="ResetForm()">&laquo; Cancel</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary btn-block" [disabled]="!composeForm.valid" (click)="Send()">Send &raquo;</button>
        </div>
    </div>
</form>