﻿<div *ngIf="items">
    <div class="row">
        <div class="col-3">
            <h3>{{Box}}</h3>
        </div>
        <div class="col-1 offset-7 text-right">
            <div [hidden]="Box != 'Inbox'">
                <button class="btn btn-sm btn-outline-dark" (click)="archive()"><i class="material-icons" style="vertical-align: bottom;">delete</i></button>
            </div>
        </div>
        <div class="col-1 text-right">
            <button type="button" class="btn btn-sm btn-info" (click)="refresh()">
                <i class="material-icons" *ngIf="!processing" style="vertical-align: bottom;">refresh</i>
                <i class="material-icons" *ngIf="processing" style="vertical-align: bottom;">loop</i>
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th [hidden]="Box != 'Inbox'" (click)="toggleAll()" style="cursor: pointer;">
                        <span *ngIf="!selected"><i class="material-icons" style="vertical-align: bottom;">check_box_outline_blank</i></span>
                        <span *ngIf="selected"><i class="material-icons" style="vertical-align: bottom;">check_box</i></span>
                    </th>
                    <th>
                        <span *ngIf="Box == 'Inbox'">From</span>
                        <span *ngIf="Box == 'Sent'">To</span>
                    </th>
                    <th>Subject</th>
                    <th>Body</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr class="listitem" *ngFor="let item of items" [ngClass]="(item.Status.Name == 'Unread')?'unread':'read'" style="cursor: pointer;">
                    <td style="width: 5%" (click)="toggle(item)" *ngIf="Box == 'Inbox'">
                        <span *ngIf="!item.Selected"><i class="material-icons">check_box_outline_blank</i></span>
                        <span *ngIf="item.Selected"><i class="material-icons">check_box</i></span>
                    </td>
                    <td style="width: 15%" (click)="readItem(item)">
                        <span *ngIf="Box == 'Inbox'">{{(item?.From?.FirstName + " " + item?.From?.LastName) | preview: 12}}</span>
                        <span *ngIf="Box == 'Sent'">{{(item?.To?.FirstName + " " + item?.To?.LastName) | preview: 12}}</span>
                    </td>
                    <td style="width: 25%" (click)="readItem(item)">{{item?.Subject | preview: 15}}</td>
                    <td style="width: 48%" (click)="readItem(item)">{{strip(item?.Body) | preview: 35}}</td>
                    <td style="width: 7%" (click)="readItem(item)">{{item?.Date | format: 'date'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-2 offset-8" [hidden]="page <= 1">
            <a class="btn btn-block btn-default" (click)="backPage()"><i class="material-icons">navigate_before</i></a>
        </div>
        <div [ngClass]="page <=1 ? 'offset-10 col-2' : 'col-2'" [hidden]="items.length != itemsPerPage">
            <a class="btn btn-block btn-default" (click)="nextPage()"><i class="material-icons">navigate_next</i></a>
        </div>
    </div>
</div>