﻿<div class="row">
    <div class="col-8">
        <h4>{{item?.Subject}}</h4>
    </div>
    <div class="col-2">
        <button class="btn btn-block btn-danger" (click)="reply()">Reply</button>
    </div>
    <div class="col-2">
        <button class="btn btn-block btn-default" (click)="back()">Back</button>
    </div>
</div>
<hr class="sm" />
<div class="row" style="font-weight: normal;">
    <div class="col-8">
        <b>From:</b> {{item?.From.FirstName}} {{item?.From.LastName}}
    </div>
    <div class="col-4 text-right">
        {{item?.Date | date}} ({{item?.Date | elapse}})
    </div>
</div>
<br />
<div class="row" style="font-weight: normal;">
    <div class="col-12" [innerHTML]="item?.Body"></div>
</div>