<div class="container-fluid"
     style="margin-top: -20px;">
    <h2>Messages</h2>
    <hr class="sm" />
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-danger btn-block btn-sm" (click)="router.navigate(['queuemessagecompose'])">Compose</button>
                </div>
            </div>
            <ul class="nav flex-column nav-tabs mt-2">
                <li [ngClass]="box=='Inbox'? 'nav-item active' : 'nav-item'">
                    <a class="btn btn-link btn-block" (click)="box = 'Inbox'">Inbox</a>
                </li>
                <li [ngClass]="box=='Sent'? 'nav-item active' : 'nav-item'">
                    <a class="btn btn-link btn-block" (click)="box = 'Sent'">Sent</a>
                </li>
                <li [ngClass]="box=='Archived'? 'nav-item active' : 'nav-item'">
                    <a class="btn btn-link btn-block" (click)="box = 'Archived'">Archived</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-lg-10">
            <queuemessagelist [Box]="box"></queuemessagelist>
        </div>
    </div>
</div>