﻿.suggestions {
    position: relative;
}
.suggestions > ul {
    text-align: left;
    position: absolute;
    z-index: 5000000;
    list-style-type: none;
    width: 100%;
    padding: 0px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #999;
    background-color: #f8f8f8;
}
.suggestions > ul > li{
    cursor: pointer;
    padding: 5px;
}
.active {
    background: #337ab7;
    color: white;
}