<div class="row" style="padding-left: 0px;">
    <div class="col" style="padding-left: 0px;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filter" (keydown)="keyboard($event.keyCode)">
            <span class="input-group-append">
                <button type="button" class="btn btn-info" (click)="NewStudent()">
                    <i class="material-icons" style="font-size: inherit;">add</i>
                </button>
            </span>
        </div>
        <div class="suggestions" *ngIf="loading">
            <ul>
                <li>
                    <div class="text-center">
                        <small style="font-style: italic;">Searching {{SearchFilter}}</small>
                        <br>
                        <img src="https://resources.minlc.com/images/soar/Ripple.gif" width="35">
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="students">
            <div class="suggestions" *ngIf="!loading && students && students.length === 0">
                <ul>
                    <li>
                        <div class="text-center">Unable to find a match</div>
                    </li>
                </ul>
            </div>
            <div class="suggestions" *ngIf="!loading && students && students.length > 0">
                <ul>
                    <li *ngFor="let student of students" (click)="SelectStudent(student.ID)" (mouseover)="SetActive($event)" (mouseout)="SetActive($event)" class="student" [attr.key]="student.ID">
                        <small>{{student.ID}}:</small>
                        {{student.FirstName}} {{student.LastName}} ({{student.SSN}})
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
