<div *ngIf="errorMessage !== null">
  <div class='row' style='margin: 0px; padding: 0px;'>
      <div class='col alert alert-danger' style='margin: 5px 0px; padding: 3px;'>
          <div class='row'>                            
              <div class='col-10'>
                  {{errorMessage}}
              </div>
              <div class='col-2 text-right'>
                  <i class="material-icons">
                    error
                  </i>
              </div>
          </div>
      </div>
  </div>
</div>