<form [formGroup]="form" (ngSubmit)="Submit()">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create your account</h5>
            <h6 class="card-subtitle mb-5">to get approved today</h6>
            <div class="card-text">
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="username" [(ngModel)]="user.Username" placeholder="Email" autocomplete="email" autofocus>
                        <validation [control]="form.controls.username"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <input type="password" class="form-control" formControlName="password" [(ngModel)]="user.Password" placeholder="Password" autocomplete="new-password">
                        <validation [control]="form.controls.password"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <input type="password" class="form-control" formControlName="cpassword" [(ngModel)]="cpassword" placeholder="Confirm Password">
                        <validation [control]="form.controls.cpassword"></validation>
                    </div>
                </div>

                <hr class="sm" />

                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="firstName" [(ngModel)]="customer.Person.FirstName" placeholder="First Name" autocomplete="given-name">
                        <validation [control]="form.controls.firstName"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="customer.Person.LastName" placeholder="Last Name" autocomplete="family-name">
                        <validation [control]="form.controls.lastName"></validation>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="ssn" [(ngModel)]="customer.Person.SSN" placeholder="Social Security Number">
                        <validation [control]="form.controls.ssn"></validation>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Date Of Birth" name="dp" formControlName="dob" [(ngModel)]="customer.Person.DOB" ngbDatepicker #d="ngbDatepicker" [maxDate]="dobPickerConfiguration.maxDate" autocomplete="bday">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                    </button>
                                </div>
                            </div>
                        </div>
                        <validation [control]="form.controls.dob"></validation>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a [routerLink]="['/login']" class="card-link">Sign in instead</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-block btn-primary" [disabled]="processing">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<template #usernameFound>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Account Found!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>We already have this username in our system, try to sign in instead. If you don't remember your password, use the forgot password option.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>