﻿.sm {
    margin: 10px;
}
/*.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #D9EDF7;
} */
.hoverable:hover {
    cursor: pointer;
    background-color: #D9EDF7;
}
header.navbar{
    padding: 0rem 1rem;
}
header.navbar>.navbar-brand{
    padding: 0;
}
.nav-item{
    min-width: 75px;
    text-align: center;
}