<div *ngIf="alternate" class="container-fluid mb-4">
    <div class="row">
        <div class="col-3">
            <img src="../../../assets/images/ewis-logo.png" alt="EWIS" style="width: 100%;" />  
        </div>
    </div>
    <hr style="margin: 0px;" />
</div>
<div *ngIf="show">
    <div class="navbar navbar-expand-lg navbar-light bg-light" style="border-top: 4px solid #006699; padding-top: 0px; padding-right: 0px; border-radius: 0px;">
        <div class="row" style="width: 100%; margin: 0px; padding: 0px;">
            <div class="col text-right" style="width: 100%; margin: 0px; padding: 0px; padding-right: 3px;">
                <button type="button" class="btn btn-link" style="font-size: 9pt; padding: 0px; margin: 0px;" (click)="global.logout(); $event.stopPropagation(); $event.preventDefault()" *ngIf="!global.User">
                    [Login]
                </button>
            </div>
        </div>
        <div class="row" style="width: 100%; margin: 0px; padding: 0px;" *ngIf="global.User">
            <div class="col text-right" style="padding-right: 5px;">
                <button type="button" class="btn btn-link" style="font-size: 9pt; padding: 0px; margin: 0px;" (click)="global.logout(); $event.stopPropagation(); $event.preventDefault()">
                    [{{global.User?.Person?.FirstName}} {{global.User?.Person?.LastName}} ({{global.User?.Username}})]
                </button>
            </div>
        </div>
    </div>
    <header class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: -10px; padding-left: 3px; padding-right: 0px; border-bottom: 1px solid #e7e7e7;">
        <a class="navbar-brand" (click)="navbarCollapsed = true" [routerLink]="['/home']">
            <img src="../../../assets/images/ewis-logo.png" alt="SOAR" style="width: 100%; padding-bottom: 10px; min-width: 175px;" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div *ngIf="global.User" style="width: 100%;">
            <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent" [@collapse]="navbarCollapsedAnimation" style="width: 100%;">
                <div class="row" style="width: 100%;">
                    <div class="col-md-9 col-sm-12">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a [routerLink]="['/queuemessage']">
                                    <i class="material-icons">announcement</i>
                                    <span class="badge alert-danger" style="position: relative; top: -20px; left: -7px;">{{glance.Messages}}</span>
                                </a>
                            </li>

                            <li class="nav-item dropdown" *ngIf="global.hasPermission('Administrator')">
                                <a class="nav-link dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrator <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="['/admin/csrmanagement']">Instructor Management</a>
                                    <a class="dropdown-item text-danger" [routerLink]="['/rvpaudit']">Instructor Schedule</a>
                                    <a class="dropdown-item" [routerLink]="['/admin/storegoals']">Student Schedule</a>
                                    <div *ngIf="corporateRoutes.length" class="dropdown-divider"></div>
                                    <a class="dropdown-item" [routerLink]="['/reports']" target="_blank">Reports</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown" *ngIf="global.hasPermission('Instructor')">
                                <a class="nav-link dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Instructor <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="['/admin/csrmanagement']">Current Courses</a>
                                    <a class="dropdown-item text-danger" [routerLink]="['/rvpaudit']">Historic Courses</a>
                                    <a class="dropdown-item" [routerLink]="['/admin/storegoals']">Store Goal Manager</a>
                                    <div *ngIf="corporateRoutes.length" class="dropdown-divider"></div>
                                    <a class="dropdown-item" [routerLink]="['/reports']" target="_blank">Reports</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12 text-right" style="padding-right: 0px;">
                        <form class="navbar-form navbar-right">
                            <search></search>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>